* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: none;
}

header {
    padding: 50px;

    background-color: rgb(76, 76, 197);

    display: flex;

    justify-content: right;

    display: flex;

    align-items: center;

    font-size: 12px;
}

.section-2 {
    background: linear-gradient(180deg, #cef6ff7a 8.33%, #b6ddea 100%);

    flex-direction: column;

    padding: 250px;

    background-repeat: no-repeat;

    background-size: cover;

    display: flex;

    justify-content: space-evenly;

}

header nav ul {
    display: flex;


}

header nav ul li {
    list-style: none;

    margin-right: 10px;


}

header nav ul li a:hover {
    color: aquamarine;

    transition: 0.8;
}

header nav ul li a {
    color: white;

    text-decoration: none;

}


.section-2 button {
    background-color: white;

    color: rgb(72, 119, 223);

    width: 150px;

    height: 40px;

    border-radius: 10px;


}

.section-1 button:hover {
    color: blue;

    transition: 0.8;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    cursor: pointer;

    background-color: white;
}

.section-2 button:hover {
    transition: 0.8s;

    cursor: pointer;

    background-color: aqua;

}

.section-3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 200px;
}

.section-3 div img {
    width: 380px;
    height: auto;

}

.div-3 {
    font-size: 40px;
    /* Ta,anho da letra */
    color: black;
    /* Cor da letra */
    font-weight: 500;
    margin-bottom: 20px;
}

.div-3 a button {
    background-color: white;

    color: rgb(72, 119, 223);

    width: 150px;

    height: 50px;

    border-radius: 10px;
}

.section-3 button:hover {
    transition: 0.8s;

    cursor: pointer;

    background-color: aqua;

}

.section-4 {
    padding: 200px;
    background-color: rgb(234, 243, 240);

}

.section-4 h2 {
    text-align: center;
    /* Alinhamento ao centro */
    color: cornflowerblue;
    /* Cor da letra */
    font-size: 40px;
    /* Tamanho da letra */
    margin-top: -170px;
    /* Espaçamento em relação a sessão de cima */
}

/* Estilização dos paragrafos */
.section-4 p {
    font-size: 20px;
    /* Tamanho da letra */
    color: black;
    /* Cor da letra */
    text-align: justify;
    /* Aqui justificamos o texto */
    margin-top: 30px;
    /* Margem superior */
}


.section-4 a button {
    background-color: white;

    color: rgb(72, 119, 223);
    /* Cor da letra */
    width: 150px;

    height: 50px;

    border-radius: 10px;

    margin-bottom: 30px;

    margin-top: 30px;
    /* Margem superior */
    padding: 20px;
    /* Preenchimento do botao */
    border-color: rgb(139, 165, 165);
}

.line {
    width: 70%;
    /* Largura da linha */
    margin: 20px;
    /* Espaçamento de 40px top e bottom a esquerda e direita automaticas */
}

.section-4 img {
    margin-left: 200px;
    /* Espaçamento da esquerda */

    /* IREMOS ALTERAR A FORMATAÇÃO DE ALINHAMENTO */
    
}